/* --- Font imports --- */
@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Poppins:400,700");

/* --- Component imports --- */
@import url("components/container.css");


/* --- Fonts & colors --- */
body {
  background-color: rgb(245,245,245);
  font-family: "Open Sans", "Helvetica", "sans-serif";
  margin: 0;
}
h1, h2, h3 {
  font-family: "Poppins", "sans-serif";
  font-size: 15px;
}

.header {
  width: 1000px;
  height: 100px;
  background-color: white;
  display: flex;
  margin-top: 15px;
  border-radius: 5px;
}

.header img{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin: 0 auto;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header img:hover
{
 transform: skew(-10deg)
 ;
}

.masonry { /* Masonry container */
  column-count: 4;
  column-gap: 1em;
  margin-top: 20px;
}


.card {
  display: inline-block;
  margin: 0 0 1em;
  width: 100%;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.18);
  border-radius: 10px;

  background: #fff;
}

.card:hover {
 border: none;
  background: #ff7a59;
  color: #fff;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  position: relative;
  box-sizing: border-box;
  transition: all 500ms ease;
}


.card img {
  width: 100%;
  margin: 0 auto;
  border-radius: 10px 10px 3px 3px ;
}



.card-details {
  font-size: 10px;
  font-family: futura;
  display: flex;
  align-items: center;
  justify-content: space-around;

}

.CTA {
width: 15%;
color:blue;
font-size: 15px;
}

.CTA img {
  margin: none;
}

.CTA img:hover {
  opacity: .5;
}

/* Masonry on large screens */
@media only screen and (min-width: 1024px) {
  .masonry {
    column-count: 4;
  }
}

/* Masonry on medium-sized screens */
@media only screen and (max-width: 1023px) and (min-width: 768px) {
  .masonry {
    column-count: 3;
  }
}

/* Masonry on small screens */
@media only screen and (max-width: 767px) and (min-width: 540px) {
  .masonry {
    column-count: 2;
  }
}
